.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white; 
    padding: 1rem;
  }
  
  .logo {
    margin-right: 0;
  }

  .title {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 8px;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .button {
    background-color: #555; 
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #777;
  }
  